.col img {
    width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0px;
}

.container-why {
    background: rgb(61, 59, 59);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.quality {
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.5);
}